<!DOCTYPE html>
<html>
    <head>
        <title>Emily E-POV</title>
    </head>
    <body>
        <header>
            <h1><a href="/">The E-POV Zone</a></h1>
        </header>

        <article>
            <time>published: 10.08.2021, 21:22</time>
            <h2><a href="">Grand Opening</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

        <article>
            <time>published: 10.08.2021, 21:22</time>
            <h2><a href="">Sausage is Better than Bacon</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
    </body>
</html>
